.env
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
Thumbs.db
.idea/
.vscode/
dist/
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
poetry.lock
Pipfile.lock
uv.lock
Chart.lock
.$*.bkp
.$*.dtmp
*.tmp
